.FooterMain{

}
.FooterMain .container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
.FooterMain .title{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
  }
  
