.Review .container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
.Review .title{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
  }
  
.Review .CardsClients{
    display: flex;
    justify-content: space-evenly;
}